<div class="container">
  <div class="m-2 p-3 shadow">
    <h2>Welcome to the page of <%= @user.username %></h2>
  </div>
  
  <% if current_user == @user %>
  <div class="m-2 p-3 shadow">
    <h3>Balance: </h3>
    <p><%= @user.account.balance %></p>
  </div>
  <div class="m-2 p-3 shadow">
    <%= render "transactions/form" %>
  </div>
  <div class="m-2 p-3 shadow">
    <%= render "users/historical" %>
  </div>
  <% end %>
  
</div>
